body {
    background-color: #F7F9FB;
    width: 100%;
    margin: auto;
    text-align: center;
}

* {
    font-family: 'Mulish', sans-serif;
}

.search {
    font-size: 16px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 36px;
    line-height: 36px;
    transform: translate(-50%, -50%);
}

.search-input {
    margin: 0;
    width: 500px;
    height: 30px;
    border: 2px solid #232328;
    border-radius: 2px;
}

.search-button {
    background-color: #0088CC;
    border-radius: 4px;
    margin: 0;
    width: 48px;
    height: 36px;
    display: inline-block;
    color: white;
    cursor: pointer;
}

.wallet {
    margin-top: 100px;
}
.new {
    margin-top: 100px;
}

.new-header{
    margin: 0;
    margin-bottom: 6vh;
    font-size: 30px;
    width: 400px;
    height: 40px;
    border-radius: 20px;
    background-color: #0088CC;
    display: inline-block;
    color: white;

}

.new-input{
    margin: 1vh 10vw 0 10vw;
    width: 550px;
    height: 40px;
    border-radius: 20px;
    border: solid 3.5px #0088CC;
    display: inline-block;

}

.new-input:focus{
    outline: none;
    border: 3.5px solid #0060A4
}

.new-add-button{
    margin: 1vh 30vw 0 30vw;
    cursor:pointer;
    height: 35px;
    width: 50px;
    display: inline-block;
    border-radius: 20px;
    border: 3.5px solid #0088CC;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.new-add-button > span{
    position: relative;
    top: 6px;
}

.new-add-button:active{
    border: 3.5px solid #0060A4;
}
