body {
    background-color: #F7F9FB;
    width: 100%;
    margin: auto;
    text-align: center;
}

* {
    font-family: 'Mulish', sans-serif;
}

.search {
    font-size: 16px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 36px;
    line-height: 36px;
    transform: translate(-50%, -50%);
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.search-input {
    margin: 0;
    width: 500px;
    height: 30px;
    border: 2px solid #232328;
    border-radius: 6px;
}

.search-button {
    background-color: #0088CC;
    border-radius: 6px;
    margin: 0;
    width: 48px;
    height: 36px;
    display: inline-block;
    color: white;
    cursor: pointer;
}

.wallet {
    margin-top: 100px;
}
.new {
    margin-top: 100px;
}

.new-header{
    margin: 0;
    margin-bottom: 7vh;
    font-size: 30px;
    display: inline-block;

}

.new-main-wrapper{
    display: block;
    width: 600px;
    margin: auto;
}
.new-input{
    margin: 1vh auto 0 auto;
    width: 550px;
    height: 40px;
    border-radius: 6px;
    border: solid 3px #0088CC;
    display: inline-block;
    position: relative;
    left: 12.5px;

}

.new-input:focus{
    outline: none;
    border: 3.5px solid #0060A4
}

.new-top-input{
    margin: 0.5vh auto 2vh auto;
    width: 125px;
    height: 25px;
    border-radius: 6px;
    border: solid 3px #0088CC;
    display: inline-block;

}

.new-add-button{
    margin: 1vh auto 0 auto;
    cursor:pointer;
    height: 25px;
    width: 25px;
    display: inline-block;
    border-radius: 6px;
    border: 3px solid #0088CC;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.new-add-button > i{
    font-size: 18px;
    position: relative;
    top: 4px;
}

.new-add-button:active{
    border: 3px solid #0060A4;
}

.new-del-button{
    margin: 0 0 0 0.5vw;
    width: 10px;
    cursor:pointer;
    display: inline-block;
    position: relative;
    left: 12.5px;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.new-submit-button{
    margin: 3vh auto 0 auto;
    cursor:pointer;
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-color: #0088CC;
    height: 30px;
    width: 100px;
    display: block;
    border-radius: 6px;
    border: 3px solid #0088CC;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    text-align: center;
}

.new-submit-button:active{
    background-color: #0060A4;
    border: 3px solid #0060A4;
}